.h1 {
    text-align : center;
}
.h2 {
    text-align : center;
}
.h3 {
    text-align : center;
}
.la {
    text-align : center;
}
.mainTop{
    width: 100%;
}
.mainImg{
    float:left; 
    width: 30%; 
    height: 500px; 
    margin: 0 auto;
}     
.nav {
    float: left; 
    text-align : left; 
    width: 40%; 
    height: 700px; 
    margin: 0 auto;
    background-color: white;
    padding-bottom: 30px;
}
.ima {
    width: 50%;
    height: 80%;
    float: left; 
    text-align: center;
    border: 30px;
    border:15px double rgb(231, 193, 190);
    padding: 1px;

}
.ima img {
    width: 60%;
}
.button1 {
    color:pink ;
    cursor: pointer;
}
.button2 {
    color: white;
    background-color: palevioletred;
    cursor: pointer;
    text-align : right;
}
.button2:hover {
    background: pink;
    text-align : right;
}
section {
    float: left; width: 700px; height: 1100px; background-color: white;
    padding-left: 20px;
}
article {
    width: 300px; height: 90px; margin:auto;
}        

select{
    width: 100px;
    height: 25px;
}     
